@import '../common/variables';

.search {
  border: 2px solid $border;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: $font-medium;
  background: no-repeat 95% 50% url('./search-icon.svg');
  background-size: 15px 15px;
  background-color: white;
}